table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
thead {
  background-color: cadetblue;
  color: white;
}
tbody {
  font-size: smaller;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.app {
  margin: 5% 15% 0 15%;
}
.container {
  border: 1px solid #ddd;
  padding: 10px;
}
.header-item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.details {
  padding: 7px;
}
.user-details {
  border-bottom: 1px solid #ddd;
}
.dlt-user-details {
  border-bottom: 1px solid #ddd;
}
.assign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.assign-bottom {
  border-bottom: 1px solid #ddd;
  flex: auto;
}
.show-header {
  border-bottom: 0px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.plus {
  padding: 0px 5px;
  font-size: 15px;
}
.con-add {
  margin: 4px 0px;
}
.add-btn {
  margin: 10px 6px;
  padding: 7px;
  font-weight: 900;
  background-color: chocolate;
  color: white;
  cursor: pointer;
}
.adjustable-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.edit-btn {
  margin: 2px;
  padding: 5px;
  color: white;
  background-color: green;
  cursor: pointer;
}
.delete-btn {
  margin: 2px;
  padding: 5px;
  color: white;
  background-color: dimgray;
  cursor: pointer;
}
.restore {
  margin: 2px;
  padding: 5px;
  color: white;
  background-color: green;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px 5px;
  border-bottom: 1px solid #ddd;
}
.modal-title {
  margin: 10px 2px;
  color: brown;
}
.modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}
.input-label-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.label-field {
  font-weight: 600;
    margin-right: 10px;
}
.input-field {
  height: 30px;
  width: 350px;
  font-size: 15px;
}
.modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: center;
  border-top: 1px solid #ddd;
  margin: 0px 5px;
  padding: 10px 0px;
}
.btn {
  margin: 6px;
  cursor: pointer;
  padding: 7px;

}
.btn-close {
  background-color: dimgray;
  color: white;
}
.btn-user {
  background-color: seagreen;
  color: white;
}
.error {
  color: red;
  font-size: large;
  font-weight: 600;
}
